[Desktop Entry]
Name=unlockR
GenericName=unlockR
Comment=PDF Decryptor
Comment[de]=PDF-Entschlüsseler
Comment[hr]=Dešifriranje PDF datoteka
Icon=com.github.jkotra.unlockr
Exec=unlockr
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false